
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.navbar-brand {
    background-color: rgba(153,204,255,.5);
    color: #fff !important;
}

.navbar-brand:hover {
    background-color: rgba(193,224,255, .5) !important;
}

.navbar.navbar-inverse {
    margin-bottom: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
