html {
    height: 100%
}

body {
    background-color: #222222;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.btn {
    border-radius: 0;
}

.btn.disabled {
    background-color: darkgrey !important;
    border-color: darkgrey !important;
}

.modal {
    color: black;
}


/*Fixed Column*/

#fixedColumn {
    width: 250px;
    height: 100%;
    float: left;
}

#fixedColumn #uhLabel {
    padding-top: 15px;
}

#fixedColumn #unitHistory {
    background-color: #303030;
    height: 85%;
    color: black;
    overflow-y: scroll;
}

#fixedColumn #unitHistory .panel {
    margin: 10px;
    background-color: #4e4e4e;
    color: white;
    cursor: pointer;
    position: relative;
}

#fixedColumn #unitHistory .panel:hover {
    background-color: #727272;
}

#fixedColumn #unitHistory .panel .historyIndex {
    position: absolute;
    top: 0;
    left: 5px;
}

#fixedColumn #reportHistory {
    height: 15%;
    width: 100%;
}


/*Fluid Column*/

#fluidColumn {
    height: 100%;
    min-width: 800px;
    padding-left: 15px;
    margin-left: 250px;
}

#fluidColumn #addPart {
    height: 13.2%;
    right: 0;
    bottom: 0;
    width: 200px;
    position: absolute;
}

#fluidColumn #canvas {
    width: 100%;
    height: 350px;
    border: 3px solid white;
    text-align: center;
}

#fluidColumn #canvas #partPicker {
    width: 40%;
    height: 100%;
    background-color: #e3e3e3;
    color: black;
}

#fluidColumn #canvas #partPicker .btn-group {
    display: block;
    margin: auto;
}

#fluidColumn #canvas .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#fluidColumn #canvas #wireframe {
    width: 700px;
}

#fluidColumn #canvas #wireframeHolder {
    display: inline-block;
    position: relative;
}


/*report*/

#report p {
    text-align: left;
}

#report p span {
    padding-right: 15px;
}

#report #reportWireFrames .wireframe-holder {
    display: inline-block;
    position: relative;
}

#report #reportWireFrames div img {
    width: 700px;
}

#report .block {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
