<!DOCTYPE html>
<html ng-app="demoApp">

<head>
    <title>CSE Demo</title>
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="base.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
    <link href="demo.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <script src="demo.js"></script>

</head>

<body ng-controller="demoCtrl">
    <div ng-show="activeSession">
        <div class="modal fade" id="userInfo" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Information</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Name</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="text" ng-model="userInfo.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Shift</label>
                                <div class="col-xs-10">
                                    <select class="form-control" ng-options="option for option in userInfoChoices.shifts" ng-model="userInfo.shift">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plant</label>
                                <div class="col-xs-10">
                                    <select class="form-control" ng-options="option for option in userInfoChoices.plants" ng-model="userInfo.plant">
                                    </select>
                                </div>
                            </div>
							<div class="form-group">
								<label class="col-xs-2 control-label">Station</label>
								<div class="col-xs-10">
									<select class="form-control" ng-options="option for option in userInfoChoices.stations" ng-model="userInfo.station">
									</select>
								</div>
							</div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-class="{'disabled' : !userInfo.isComplete()}" ng-click="saveUserChanges()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="fixedColumn">
            <div id="fixedTop">
                <button id="createNewPart" class="btn btn-info btn-block" ng-class="{'disabled' : !isActivePart()}" ng-click="createNewPart()">Create New Part</button>
                <div id="uhLabel">Unit History</div>
            </div>
            <div class="fill">
                <div id="unitHistory">
                    <div class="panel panel-default" ng-repeat="i in history" ng-click="editHistoryItem($index)">
                        <div class="panel-body">
                            <div class="historyIndex">{{history.length - $index}}</div>
                            <div>Model: {{i.model}}</div>
                            <div>Part: {{i.surface}}</div>
                            <div># Defects: {{i.defects.length}}</div>
                        </div>
                    </div>
                </div>
                <button id="reportHistory" class="btn btn-danger" ng-class="{'disabled' : history.length < 30}" ng-click="endSession()"><span>See Report</span></button>
            </div>
        </div>
        <div id="fluidColumn">
            <div id="canvas">
                <div id="partPicker" ng-show="showPicker()">
                    <div style="padding: 15px;">
                        <form>
                            <div class="form-group">
                                <label>Choose Car</label>
                                <select class="form-control" ng-options="option for option in models" ng-model="selectedOptions.model">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Choose Part</label>
                                <div>
                                    <button type="button" class="btn btn-default" ng-click="selectedOptions.setSurface(surfaces.LEFT)">Left</button>
                                    <button type="button" class="btn btn-default" ng-click="selectedOptions.setSurface(surfaces.TOP)">Top</button>
                                    <button type="button" class="btn btn-default" ng-click="selectedOptions.setSurface(surfaces.RIGHT)">Right</button>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success" ng-click="createPart()" ng-class="{'disabled' : !(selectedOptions.model && selectedOptions.surface)}" style="margin-top: 30px;">Create Part</button>
                        </form>
                    </div>
                </div>

                <span class="helper"></span>
                <div id="wireframeHolder"><img ng-if="!showPicker()" ng-click="createDefect($event)" ng-src="img/wireframes/{{activePart.model}}_{{activePart.surface}}.png" alt="" id="wireframe" /></div>


            </div>

            <div style="margin-top: 20px;">
                <div class="col-xs-12">
                    <h2>Select Severity</h2>
                    <form>
                        <div class="form-group">
                            <input type="radio" ng-model="severity" ng-value="1"> 1
                            <input type="radio" ng-model="severity" ng-value="2"> 2
                            <input type="radio" ng-model="severity" ng-value="3"> 3
                            <input type="radio" ng-model="severity" ng-value="4"> 4
                            <input type="radio" ng-model="severity" ng-value="5"> 5
                        </div>
                    </form>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="col-xs-12">
                    <h2>Select Defect Type</h2>
                    <form>
                        <div class="form-group">
                            <input type="radio" ng-model="defectType" ng-value="defectTypes.COTTONFIBER"> Cotton Fiber
                            <input type="radio" ng-model="defectType" ng-value="defectTypes.CRATER"> Crater
                            <input type="radio" ng-model="defectType" ng-value="defectTypes.EGGSHELL"> Eggshell
                            <input type="radio" ng-model="defectType" ng-value="defectTypes.FIBER"> Fiber
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-info" ng-click="loadTestData()">Load Test Data</button>
            <button id="addPart" class="btn btn-success" ng-click="addPart()" ng-if="isActivePart() && isNewPart"><span>Add Part</span></button>
            <button id="addPart" class="btn btn-success" ng-click="updatePart()" ng-if="isActivePart() && !isNewPart"><span>Update Part</span></button>
        </div>
    </div>
    <div id="report" ng-include="'report.html'" ng-show="!activeSession"></div>

    <script src="bootstrap.min.js" type="text/javascript"></script>

    <script src="utility.js"></script>

</body>

</html>
