.card-header {
    height: 200px;
}

.card-header img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    margin: 15px;
    text-align: center;
}

.jumbotron {
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-radius: 0 !important;
}

.jumbotron p {
    font-size: 16px;
}

.linkedin-btn {
    height: 24px;
}

#Biographies {
    background-color: #CCC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
