<h1>Quality Analysis Report</h1>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p>Date: {{userInfo.startTime.toLocaleDateString()}}</p>
        <p>Analyst: {{userInfo.name}}</p>
        <p>
            <span>Start Time: {{userInfo.startTime.toLocaleTimeString()}}</span>
            <span>End Time: {{userInfo.endTime.toLocaleTimeString()}}</span>
            <span>Shift: {{userInfo.shift}}</span>
			<span>Station: {{userInfo.station}}</span>
            <span># Units: {{history.length}}</span>
            <span># Defects: {{getNumberOfDefects()}}</span>
            <span>DPU: {{(getNumberOfDefects()/history.length).toFixed(2)}}</span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Severity Overview</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, null)}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, null)}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, null)}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, null)}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, null)}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefects()}}</th>
            </tr>
        </table>
        <h4>Right Vertical</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'RightVertical')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'RightVertical')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'RightVertical')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'RightVertical')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'RightVertical')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'RightVertical')}}</th>
            </tr>
        </table>
        <h4>Roof</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'Roof')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'Roof')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'Roof')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'Roof')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'Roof')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'Roof')}}</th>
            </tr>
        </table>
        <h4>Left Vertical</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'LeftVertical')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'LeftVertical')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'LeftVertical')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'LeftVertical')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'LeftVertical')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'LeftVertical')}}</th>
            </tr>
        </table>
        <h4>Hood</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'Hood')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'Hood')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'Hood')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'Hood')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'Hood')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'Hood')}}</th>
            </tr>
        </table>
        <h4>Deck</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'Deck')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'Deck')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'Deck')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'Deck')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'Deck')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'Deck')}}</th>
            </tr>
        </table>
        <h4>Left Side</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'LeftSide')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'LeftSide')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'LeftSide')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'LeftSide')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'LeftSide')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'LeftSide')}}</th>
            </tr>
        </table>
        <h4>Right Side</h4>
        <table class="table">
            <tr>
                <th>Severity</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(1, 'RightSide')}}</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(2, 'RightSide')}}</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(3, 'RightSide')}}</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(4, 'RightSide')}}</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(5, 'RightSide')}}</th>
            </tr>
            <tr>
                <th>Overall</th>
                <th>{{getNumberOfDefectsBySeverityAndPart(null, 'RightSide')}}</th>
            </tr>
        </table>
    </div>
    <div class="col-md-8" id="reportWireFrames">
        <div id="legend">
            <span>Cotton Fiber: <span class="block red"></span></span>&nbsp;
            <span>Crater: <span class="block blue"></span>&nbsp;
            <span>Eggshell: <span class="block yellow"></span>&nbsp;
            <span>Fiber: <span class="block green"></span>
        </div>
        <div id="wireframeHolderLeft" class="wireframe-holder"><img ng-src="img/wireframes/ATS_Left.png" alt="" id="wireframe" /></div>
        <div id="wireframeHolderTop" class="wireframe-holder"><img ng-src="img/wireframes/ATS_Top.png" alt="" id="wireframe" /></div>
        <div id="wireframeHolderRight" class="wireframe-holder"><img ng-src="img/wireframes/ATS_Right.png" alt="" id="wireframe" /></div>
    </div>
</div>
